/* 清除浏览器默认边距，
使边框和内边距的值包含在元素的width和height内 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 使用flex布局，让内容垂直和水平居中 */

section {
    /* 相对定位 */
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* linear-gradient() 函数用于创建一个表示两种或多种颜色线性渐变的图片 */
    background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
}

/* 背景颜色 */

section .color {
    /* 绝对定位 */
    position: absolute;
    /* 使用filter(滤镜) 属性，给图像设置高斯模糊*/
    filter: blur(250px);
}

/* :nth-child(n) 选择器匹配父元素中的第 n 个子元素 */

section .color:nth-child(1) {
    top: -350px;
    width: 600px;
    height: 600px;
    background: #ff359b;
}

section .color:nth-child(2) {
    bottom: -150px;
    left: 100px;
    width: 500px;
    height: 500px;
    background: #00d2ff;
}

section .color:nth-child(3) {
    bottom: 50px;
    right: 100px;
    width: 500px;
    height: 500px;
    background: #fffd87;
}

a {
    position: relative;
    padding: 10px 30px;
    margin: 0 45px;
    color: #21ebff;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.3s;
    overflow: hidden;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0003);
}

a:hover {
    background: rgba(33, 235, 255, 0.5);
    color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 50px #21ebff;
    transition-delay: 0.3s;
}

a:nth-of-type(1) {
    filter: hue-rotate(115deg);
}

a:nth-of-type(3) {
    filter: hue-rotate(270deg);
}

a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid #21ebff;
    border-left: 2px solid #21ebff;
    transition: 0.3s;
    transition-delay: 0.3s;
}

a:hover::before {
    width: 100%;
    height: 100%;
    transition-delay: 0s;
}

a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #21ebff;
    border-right: 2px solid #21ebff;
    transition: 0.3s;
    transition-delay: 0.3s;
}

a:hover::after {
    width: 100%;
    height: 100%;
    transition-delay: 0s;
}

.box {
    /* width: 1000px;  */
    width: 80%;
    position: absolute;
    /* transform: translateY(-50%); */
    height: 200px;
    margin: 0, auto;
    background: rgba(255, 255, 255, 0.3);
}

h2 {
    position: absolute;
    z-index: 1;
    display: inline-block;
    /* height: 100px; */
    left: 0;
    top: 0;
    left: 50%; 
    transform: translateX(-50%);
    margin-top: 100px;
    /* background-color: white; */
}

.text {
    position: absolute;
    z-index: 1;
    display: inline-block;
    /* height: 100px; */
    left: 0;
    top: 0;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    margin-top: 100px;
    /* background-color: white; */
}

.text pre {
    font-size: 24px;
}